#jisho h4 {
    display: none;
}

.concept_light-status {
    display: none;
}

.light-details_link {
    display: none;
}

.concept_light {
    /* border: 3px solid aqua; */
    border: 2px solid green;
    background-color: white;
    border-radius: 0.5rem;
    margin: 0.5rem 0.1rem;
    padding: 0.4rem;
}

.concept_light-representation {
    font-size: 1.5rem;
}

.meaning-representation_notes {
    font-size: 0.8em;
}

/* should be inline, change other class */
/* .sense-tag {
    display: block;
} */

/* has no own style: Áç£ */
/* .tag-restriction {
    padding-inline: 0.6em;
    font-size: 0.8em;
    color: gray;
} */

.supplemental_info {
    padding-inline: 0.6em;
    font-size: 0.8em;
    color: gray;
}

.meaning-tags {
    margin-top: 0.5em;
    font-size: 0.7em;
    font-weight: bold;
    color: gray;
}

.meaning-abstract {
    padding-inline: 0.6em;
    font-size: 0.8em;
    color: gray;
}

.furigana {
    display: block;
    font-size: 45%;
    min-height: 1.15em;
    margin-bottom: -0.7em;
}

ruby.furigana-justify rb {
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0px;
    /* font-size: 31px; */
    font-size: 1.5rem;
}

ruby.furigana-justify rt {
    font-size: 100%;
    margin-top: -100px;
}

.furigana .kanji {
    min-width: 2.25em;
}

.furigana span {
    display: inline-block;
    text-align: center;
    min-width: 2em;
    line-height: 1.15;
}

.sentences {
    color: blue;
}

.sentences ul.japanese li {
    display: inline-block;
    font-size: 18px;
}

.sentences .furigana {
    font-size: 60%;
    margin-bottom: -0.5em;
}