* {
    /* font-size: 1.3rem; */
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    font-size: 1.3rem;
    font-family: "Noto Sans JP", "Meiryo", "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
    /* display: grid;
    grid-template-rows: auto 1fr; */
}

#status-bar {
    /* background-color: green; */
    height: 3px;
}

.fetching {
    background-color: yellow;
}

.failed {
    background-color: red;
}

/* grid-template-rows: auto auto auto auto auto auto 1fr; */
main {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto auto auto 1fr;
}

/* main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

#tabs {
    /* background-color: lightgray; */
    width: fit-content;
    /* padding: 0.2em 2em 0 0.5em; */
    margin: 0 0.2em 0.2em;
}

.tab {
    display: inline-block;
    margin-inline: 0.1em;
    border: none;
    /* background-color: lightgray; */
    background-color: aqua;
    font: inherit;
    height: 1.4em;
    min-width: 3.5em;
    padding-inline: 0.9em;
    cursor: pointer;
}

.tab:hover {
    background-color: #00ffff40
    /* opacity: 0.5; */
}

.active, .tab.active:hover {
    /* background-color: #fff; */
    background-color: aliceblue;
}

/* .main-article { */
.articles {
    overflow: auto;
    /* flex: 1 1 auto; */
}

#main-article {
    overflow: auto;
    /* height: 90vh; */
    max-height: 100%;
    display: grid;
    grid-template-rows: auto auto auto 1fr;
    /* display: flex;
    flex-direction: rows; */
}

.middle-space {
    height: 5px;
}

#jardic {
    overflow: auto;
    padding-inline: 0.1rem;
}

#jisho {
    overflow: auto;
}

#jardic table {
    width: 100%;
}

.main-input {
    font-size: inherit;
    /* height: 1.5em; */
    margin: 0.4rem;
    padding: 0.1em 0.4em;
    /* border: 1px solid;
    border-radius: 3px; */
    /* display: flex; */
}

.magic-popup {
    position: absolute;
    top: 41px;
    /* border: 1px solid; */
    /* background: white; */
    background: aliceblue;
    box-shadow: 1px 3px 9px black;
}

.magic-input {
    /* position: absolute; */
    font-size: inherit;
    padding: 0 0.1em;
    width: 1em;
    border: none;
    border-bottom: 1px solid;
    background: aliceblue;
    margin-bottom: 0.3rem;
}

.magic-input:focus {
    outline: none;
}

.match {
    color: gray;
    font-size: 0.8em;
}

.input-options {
    /* position: absolute; */
    /* background: aliceblue; */
    
    max-height: 15em;
    overflow: auto;
}

.options-list { /* do we need this? */
    max-height: 15em;
    overflow: auto;
}

.selected-option {
    background-color: aquamarine;
}

.hidden {
    display: none !important;
    /* visibility: hidden;
    position: absolute; */
    /* left: -1000px; */
}

.outer {
    position: absolute;
    top: -1000px;
}

/* jardic -------------------------------- */

/* tr {
    outline: 1px solid red;
} */

table {
    border: 2px solid red;
    border-radius: 0.5rem;
    /* margin-inline: 0.1em; */
}

.interart {
    /* border: 2px solid aquamarine; */
    /* border: 2px solid red; */
    /* margin-inline: 0.5em; */
    margin: 0 0.5em 0.2em;
    /* color: red; */
    background-color: red;
    height: 1px;
    border: none;
}

/* table {
    border-collapse: collapse;
}

tr {
border-bottom: 1px solid black;
} */